---
layout: layouts/home.njk
eleventyNavigation:
  key: Links
  order: 4
---
<h1>Links</h1>

<p><a href="https://www.bbc.co.uk/news">BBC News</a></p>
<p><a href="https://en.wikipedia.org/wiki/Main_Page">Wikipedia</a></p>
<p><a href="http://www.rpg.net/">RPGNet</a></p>
