---
layout: layouts/home.njk
eleventyNavigation:
  key: Message
  order: 6
---
<h1>Message Me</h1>

<form name="message method="POST" data-netlify="true">
	<div class="mb-3">	  
		<label for="fname">First Name:</label>
  	<input type="text" id="fname" name="fname" required><br>
	</div>	
	<div class="mb-3">
  	<label for="lname">Last Name:</label>
  	<input type="text" id="lname" name="lname" required><br>
	</div>
	<div class="mb-3">
		<label for="email">Email Address:</label>
		<input type="email id="email" name="email" required><br>
	</div>
	<div class="mb-3">
		<label for="message text">Your Message:</label><br>
		<textarea id="message text" name="message text" rows="4" cols="50" required>Enter your message here...</textarea><br>
	</div>
	<div class="mb-3">
		<input type="checkbox" id="termsAccepted" name="termsAccepted" value="Yes" required>
  	<label for="termsAccepted"> I have accepted the Terms and Conditions</label><br>
	</div>
	<div class="mb-3">
  	<input type="submit" value="Submit">
	</div>
</form>
