---
layout: layouts/home.njk
eleventyNavigation:
  key: Message
  order: 6
---
<h1>Message Me</h1>

<form>
  <label for="fname">First Name:</label>
  <input type="text" id="fname" name="fname" required><br>
  <label for="lname">Last Name:</label>
  <input type="text" id="lname" name="lname" required><br>
	<label for="email">Email Address:</label>
	<input type="email id="email" name="email" required><br>
	<label for="message">Your Message:</label><br>
	<input type="text" size="256" id="message" name="message" required>
</form>
